
body{
    padding-top: 20px;
}
.consulter_box,.employee_control{
    border: 1px solid #c5c5c5;
    padding: 5px;
    margin-top: 4px;
}

hr, h3{
    margin: 10px 0;
}
#txt_price{
    width: 100px;
}
#txt_amount{
    width: 100px;
}
#update_amount{
    width: 50px;
}
.modal{
    top:80px;
}
.modal-dialog{
    width: 350px;
    padding: 30px 20px 20px;
}
.btn-close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.btn-close:hover{
    opacity: 1;
}
/*MEDIA QUERY*/
/* Large desktop */
@media (min-width: 1200px) {  
    .container{
        width: 460px;
    }
}