
.add_products, .counter_products, .list_products{
    border: 1px solid #c5c5c5;
    padding: 5px;
    margin-top: 4px;
}
.counter_products{
    padding: 4px;
}
#lb_counter{
    font-weight: bold;
}
hr{
    margin: 10px 0;
}
#txt_price{
    width: 100px;
}
#txt_amount{
    width: 100px;
}
.update-amount{
    width: 50px;
}