/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/05/2015, 11:44:09 AM
    Author     : reynaldo
*/
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  float: left;
  height: 150px;
  width: 150px;
  background: #E99223;
  margin-left: 10px;
}
.box2,
.box4,
.box6 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #66A600;
}
.box1 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #66A600;
}
.box3,
.box5 {
  -webkit-box-shadow: 5px 4px 10px #0000cc;
  -moz-box-shadow: 5px 4px 10px #0000cc;
  box-shadow: 5px 4px 10px #0000cc;
  transition: box-shadow 0.8s;
}
.box5:hover {
  -webkit-box-shadow: -5px 15px 17px #000000;
  -moz-box-shadow: -5px 15px 17px #000000;
  box-shadow: -5px 15px 17px #000000;
  transition: box-shadow 0.3s;
}
.box6 {
  background: #66a600;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1.5s ease;
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #66A600;
}
.box6:hover {
  background: #e99223;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1.5s ease;
  -webkit-transform: rotate(-720deg);
  -moz-transform: rotate(-720deg);
  -o-transform: rotate(-720deg);
  -ms-transform: rotate(-720deg);
  transform: rotate(-720deg);
}
