/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/05/2015, 11:44:09 AM
    Author     : reynaldo
*/


.box1, .box2, .box3, .box4,.box5,.box6{
    float: left;
    height: 150px;
    width: 150px;
    background: #E99223;
    margin-left: 10px;
}

.border_rounded (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    background: #66A600;
}
.box_shadow(@x:5px, @y:4px, @blur:10px, @color: #00c, @alpha:0.5){
    -webkit-box-shadow: @x @y @blur rgb(red(@color),green(@color),blue(@color), @alpha);
    -moz-box-shadow: @x @y @blur rgb(red(@color),green(@color),blue(@color), @alpha);
    box-shadow: @x @y @blur rgb(red(@color),green(@color),blue(@color), @alpha);
}
.transition_rotatation(@deg:720deg,@bradius:0px,@color:#66A600){
    background: @color;
    -webkit-border-radius: @bradius;
    -moz-border-radius: @bradius;
    border-radius: @bradius;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1.5s ease;
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    transform: rotate(@deg);
}


.box2, .box4, .box6{
    .border_rounded;
}
.box1{
    .border_rounded(20px);
}
.box3,.box5{
    .box_shadow;
    transition: box-shadow .8s;
}
.box5:hover{
    .box_shadow(-5px, 15px, 17px, #000, 0.9);
    transition: box-shadow .3s;
}
.box6{    
    .transition_rotatation;
    .border_rounded;
}
.box6:hover{
    .transition_rotatation(-720deg,100px,#E99223);
}


